body {
	text-align:center;
	background-image:url('blackground.png');
	color:#ffd7f3;
	font-family: 'Prosto One', cursive;
	list-style-position:inside;
}

canvas {
	margin-left:auto;
	margin-right:auto;
	padding-left:0;
	padding-right:0;
	border:1px solid #FFFFFF;
	width:900px;
	display:block;
}

h1 {
	font-size:45px;
}

fieldset {
	border-style:none;
}

.newScore {
	color:#ff0000;
}

#score {
	font-size:20px;
}
#songTime {
	font-size:20px;
}